<div class="home-admin-attendance">
  <div class="home-admin-attendance-date">
    <div id="clock-date"></div>
    <div id="clock-time"></div>
    <div class="home-attendance-card">
      <% if @status == "出勤前" %>
        <p>本日はまだ出勤していません</p>
      <% elsif @status == "勤務中" %>
        <p><%= @attendance.start_time.strftime("%H時%M分") %>から勤務中です</p>
      <% elsif @status == "休憩中" %>
        <p><%= @attendance.start_time.strftime("%H時%M分") %>から勤務中で、</p>
        <p><%= @break.start_time.strftime("%H時%M分") %>から休憩中です</p>
      <% elsif @status == "退勤済" %>
        <p><%= @attendance.start_time.strftime("%H時%M分") %>に出勤し、</p>
        <p><%= @attendance.end_time.strftime("%H時%M分") %>に退勤しました</p>
      <% end %>
    </div>
    <div class="home-attendance-button">
      <% if @status == "出勤前" %>
        <%= button_to "出勤", start_attendance_path, class: "home-attendance-button-in-text rainbow-color", method: :post, title: "出勤する" %>
      <% elsif @status == "勤務中" %>
        <%= button_to "休憩開始", start_break_path, class: "home-attendance-button-in-text green-color", method: :post, title: "休憩を開始する" %>
        <%= button_to "退勤", end_attendance_path, class: "home-attendance-button-in-text rainbow-color", method: :post, title: "退勤する" %>
      <% elsif @status == "休憩中" %>
        <%= button_to "休憩終了", end_break_path(@break.id), class: "home-attendance-button-in-text green-color", method: :post, title: "休憩を終了する" %>
      <% elsif @status == "退勤済" %>
        <%= button_to "勤怠管理", user_attendance_today_path(@user), class: "home-attendance-button-in-text rainbow-color", method: :get, title: "本日の勤怠管理へ移動する" %>
      <% end %>
    </div>
  </div>
  <div class="home-admin-left-card-area"></div>
  <div class="home-admin-right-card-area">
    <div class="home-admin-right-card">
      <h3>本日の勤怠状況</h3>
      <div id="now-user-attendances-container">
        <%= render 'now_attendance' %>
      </div>
    </div>
    <div class="home-admin-right-card">
      <h3>今月の勤怠状況</h3>
      <h4 onclick="toggleDisplay()" title="表示を切り替えます">
        <i class="fa-solid fa-right-left"></i> <span id="this_month_button">勤務時間が多い3名</span>
      </h4>
      <% @this_month_attendance_list.first(3).each do |this_month_attendance| %>
        <div class="home-admin-top3-card">
          <p><%= this_month_attendance[:user_name] %>さん</p>
          <p>勤務時間： <%= this_month_attendance[:working_time_str] %></p>
        </div>
      <% end %>
      <div id="all_attendances" style="display:none;">
        <% @this_month_attendance_list.each do |this_month_attendance| %>
          <div class="home-admin-all-card">
            <p><%= this_month_attendance[:user_name] %>さん</p>
            <p>勤務時間： <%= this_month_attendance[:working_time_str] %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function updateClock() {
    var today = new Date();

    var daysOfWeek = ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"];
    var dayOfWeek = daysOfWeek[today.getDay()];

    var date = today.getDate();
    var month = today.getMonth() + 1;
    var year = today.getFullYear();
    var formattedDate = year + "年" + month + "月" + date + "日";

    var hours = today.getHours();
    var minutes = today.getMinutes();
    var seconds = today.getSeconds();

    minutes = minutes < 10 ? '0'+minutes : minutes;
    seconds = seconds < 10 ? '0'+seconds : seconds;

    var time = hours + ':' + minutes + ':' + seconds;

    document.getElementById('clock-date').innerHTML = formattedDate + ' ' + dayOfWeek;
    document.getElementById('clock-time').innerHTML = time;
    setTimeout(updateClock, 1000);
  }
  if (document.getElementById('clock-date') != null){
    updateClock();
  }

  function toggleDisplay() {
    var top3 = document.querySelectorAll('.home-admin-top3-card');
    var all = document.getElementById('all_attendances');
    var button = document.getElementById('this_month_button');
    
    if (all.style.display === 'none') {
      top3.forEach(function(card) {
        card.style.display = 'none';
      });
      all.style.display = 'block';
      button.textContent = '上位3名を表示';
    } else {
      top3.forEach(function(card) {
        card.style.display = 'flex';
      });
      all.style.display = 'none';
      button.textContent = '全て表示';
    }
  }
</script>