<div class="attendance-from">
  <div class="attendance-from-date">
    <div class="attendance-from-date-text">
      <%= @current_date %>の<%= yield(:button_text) %>
    </div>
  </div>
  <div>
    従業員： <%= @user.name %>
  </div>
  <div class="attendance-from-body">
    <%= form_for([@user, @attendance, @break], data: { turbo: false } , url: yield(:request_url)) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="wave-group attendance-from-input">
        <%= f.time_field :start_time, class: "input" %>
        <span class="bar"></span>
        <label class="label">
          <span>開始時間</span>
        </label>
        <div class="attendance-from-down-icon">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>

      <div class="wave-group attendance-from-input">
        <%= f.time_field :end_time, class: "input" %>
        <span class="bar"></span>
        <label class="label">
          <span>終了時間</span>
        </label>
      </div>

      <div class="login-card-submit-area attendance-from-submit-area">
        <%= f.submit yield(:button_text)%>
      </div>
    <% end %>
  </div>
</div>
