<div class="index-user-card" id="<%= dom_id user %>">
  <div class="index-user-card-name">
    <%= user.name %>
  </div>
  <div class="index-user-card-flex">
    <div class="index-user-card-button-area">
      <div class="index-user-card-button-top">
        <div class="index-user-card-button-top-text">
          <p>プロフィール</p>
        </div>
        <%= link_to user, class: "index-user-card-button" do %>
          確認
        <% end %>
        <%= link_to edit_user_path(user), class: "index-user-card-button" do %>
          編集
        <% end %>
      </div>
      <hr>
      <div class="index-user-card-button-bottom">
        <div class="index-user-card-button-bottom-text">
          <p>勤怠状況</p>
        </div>
        <%= link_to root_path, class: "index-user-card-button" do %>
          年別データ
        <% end %>
        <%= link_to root_path, class: "index-user-card-button" do %>
          月別データ
        <% end %>
        <%= link_to user_attendance_today_path(user), class: "index-user-card-button" do %>
          日別データ
        <% end %>
      </div>
    </div>
    <div class="index-user-card-delete">
      <% if current_user.admin? && !current_user?(user) %>
      <%= button_to "削除", user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div>
</div>
