<% provide(:title, "#{@user.name}さんの#{@current_date}の勤怠状況") %>

<div class="attendance-card">
  <div class="attendance-card-date">
    <%= link_to user_attendance_day_path(@user, date: @yesterday.to_s), class: "attendance-card-date-icon", title: "前日：#{@yesterday}へ切り替え" do %>
      <i class="fa-solid fa-angles-left"></i>
    <% end %>
    <div class="attendance-card-date-text">
      <%= @current_date %>
    </div>
    <%= link_to user_attendance_day_path(@user, date: @tomorrow.to_s), class: "attendance-card-date-icon", title: "翌日：#{@tomorrow}へ切り替え" do %>
      <i class="fa-solid fa-angles-right"></i>
    <% end %>
  </div>
  <div>
    従業員： <%= @user.name %>
  </div>
  <div class="attendance-card-time">
    <div class="attendance-card-time-frame">
      <p>実労働時間</p>
      <p class="attendance-card-time-frame-text"><%= @working_time_str %></p>
    </div>
    <div class="attendance-card-time-frame">
      <p>休憩時間</p>
      <p class="attendance-card-time-frame-text"><%= @break_time_str %></p>
    </div>
    <div class="attendance-card-time-frame">
      <p>残業時間</p>
      <p class="attendance-card-time-frame-text">--</p>
    </div>
  </div>
  <div class="attendance-card-button">
    <% if @attendance.nil? %>
      <%= link_to user_new_attendance_path(@user, @new_create_date), class: "index-user-card-button", title: "#{@current_date}に勤怠情報を追加する" do %>
          <i class="fa-solid fa-plus"></i>
          登録
      <% end %>
    <% else %>
      <div>
        <%= link_to user_edit_attendance_path(@user, @new_create_date), class: "index-user-card-button", title: "#{@current_date}の勤怠情報を編集する" do %>
          <i class="fa-solid fa-pen"></i>
          編集
        <% end %>
      </div>
      <div class="index-user-card-delete">
        <%= button_to "削除", user_delete_attendance_path(@user, @new_create_date), method: :delete, data: { confirm: "本当に削除しますか？" }, title: "#{@current_date}の勤怠情報を削除する" %>
      </div>
    <% end %>
  </div>
  ※編集すると管理者に通知されます。
</div>

<% if !@attendance.nil? %>
  <div class="attendance-area">
    <div class="attendance-area-presence">
      <div class="attendance-area-presence-title">
        出勤
      </div>
      <div class="attendance-area-presence-time">
        <% if !@attendance.start_time.nil? %>
          <i class="fa-regular fa-clock"></i>
          <%= @attendance.start_time.strftime("%H:%M") %>
        <% else %>
          入力なし
        <% end %>
      </div>
    </div>
    <% if !@break_time_list.nil? %>
      <% @break_time_list.each do |break_data| %>
        <div class="attendance-area-break">
          <div class="attendance-area-break-title">
            休憩
            <p class="attendance-area-break-time-text">
              <%= 
                if break_data.end_time.nil? || break_data.start_time.nil?
                  "--"
                else
                  break_seconds = break_data.end_time - break_data.start_time
                  break_hours = break_seconds / 3600
                  break_minutes = (break_seconds % 3600) / 60
                  break_time_str = format('%d時間%d分', break_hours.to_i, break_minutes.to_i)
                  "#{break_time_str}"
                end
              %>
            </p>
          </div>
          <div class="attendance-area-break-time">
            <i class="fa-regular fa-clock"></i>
            <%= 
              if break_data.start_time.nil?
                "入力なし"
              else
                break_data.start_time.strftime("%H:%M")
              end 
            %>
            <i class="fa-solid fa-minus"></i>
            <%= 
              if break_data.end_time.nil?
                "入力なし"
              else
                break_data.end_time.strftime("%H:%M")
              end
            %>
            <div class="attendance-card-button">
              <div>
                <%= link_to user_edit_break_path(@user, break_data.id), class: "index-user-card-button", title: "この休憩時間を編集する" do %>
                  <i class="fa-solid fa-pen"></i>
                  編集
                <% end %>
              </div>
              <div class="index-user-card-delete">
                <%= button_to "削除", user_delete_break_path(@user, break_data.id), method: :delete, data: { confirm: "本当に削除しますか？" }, title: "この休憩時間を削除する" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="attendance-area-break">
      <div>
        <% if @attendance.start_time.nil? || @attendance.end_time.nil? %>
          出退勤時間を入力してください
        <% else %>
          <%= link_to user_new_break_path(@user, @new_create_date), class: "index-user-card-button", title: "休憩時間を追加する" do %>
            <i class="fa-solid fa-plus"></i>
            休憩時間を追加する
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="attendance-area-clocking-out">
      <div class="attendance-area-clocking-out-title">
        退勤
      </div>
      <div class="attendance-area-clocking-out-time">
        <% if !@attendance.end_time.nil? %>
          <i class="fa-regular fa-clock"></i>
          <%= @attendance.end_time.strftime("%H:%M") %>
        <% else %>
          入力なし
        <% end %>
      </div>
    </div>
  </div>
<% end %>