<div class="header-box">
  <%= link_to root_path do %>
    <div class="header-left">
      <div class="header-button-area icon-right">
        <i class="fa-solid fa-house header-home-icon"></i>
        <p class="header-home-text">ホーム</p>
      </div>
    </div>
  <% end %>
  <div class="header-text">
    <%= link_to "勤怠管理システム", root_path %>
  </div>
  <div class="header-right">
    <% if logged_in? %>
      <% if params[:menu] %>
        <%= button_to "", "#{request.path}", { method: :get } %>
        <div class="header-button-area icon-left">
          <i class="fa-solid fa-xmark header-bars-cion"></i>
          <p class="header-bars-text">閉じる</p>
        </div>
      <% else %>
      <%= button_to "", "#{request.path}", { method: :get, params: {menu: true} } %>
        <div class="header-button-area icon-left">
          <i class="fa-solid fa-bars header-bars-cion"></i>
          <p class="header-bars-text">メニュー</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if params[:menu] && logged_in? %>
  <div class="header-background" id="header-background"></div>
  <div class="header-menu">
    <div class="header-menu-card">
      <div>
        <p class="header-menu-card-text">管理項目</p>
      </div>
      <div class="header-menu-contents-card">
        <div class="header-menu-contents-card-icon-area">
          <i class="fa-solid fa-database header-menu-contents-card-icon"></i>
          <% if current_user.admin %>
            <p class="header-menu-contents-card-text">勤怠状況</p>
          <% else %>
            <p class="header-menu-contents-card-text">自分の勤怠状況</p>
          <% end %>
        </div>
        <div class="header-menu-contents-card-button-area">
          <% if current_user.admin %>
            <%= link_to "年別データ", root_path, class: "header-menu-contents-card-button" %>
            <%= link_to "月別データ", root_path, class: "header-menu-contents-card-button" %>
            <%= link_to "日別データ", root_path, class: "header-menu-contents-card-button" %>
          <% else %>
            <%= link_to "年別データ", root_path, class: "header-menu-contents-card-button" %>
            <%= link_to "月別データ", root_path, class: "header-menu-contents-card-button" %>
            <%= link_to "日別データ", user_attendance_today_path(current_user), class: "header-menu-contents-card-button" %>
          <% end %>
        </div>
      </div>
      <% if current_user.admin %>
        <div class="header-menu-contents-card">
          <div class="header-menu-contents-card-icon-area">
            <i class="fa-solid fa-users header-menu-contents-card-icon"></i>
            <p class="header-menu-contents-card-text">従業員</p>
          </div>
          <div class="header-menu-contents-card-button-area">
            <%= link_to "一覧", users_path, class: "header-menu-contents-card-button" %>
            <%= link_to "新規追加", signup_path, class: "header-menu-contents-card-button" %>
          </div>
        </div>
      <% end %>
    </div>
    <% if current_user.admin %>
      <div class="header-menu-card">
        <div>
          <p class="header-menu-card-text">レポート</p>
        </div>
        <div class="header-menu-contents-card">
          <div class="header-menu-contents-card-icon-area">
            <i class="fa-solid fa-user-pen header-menu-contents-card-icon"></i>
            <p class="header-menu-contents-card-text">勤怠状況</p>
          </div>
          <div class="header-menu-contents-card-button-area">
            <%= link_to "一覧", root_path, class: "header-menu-contents-card-button" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="header-menu-card">
      <div>
        <p class="header-menu-card-text">個人項目</p>
      </div>
      <div class="header-menu-contents-card">
        <div class="header-menu-contents-card-icon-area">
          <i class="fa-solid fa-user header-menu-contents-card-icon"></i>
          <p class="header-menu-contents-card-text"><%= current_user.name %> 様</p>
          <p class="header-menu-contents-card-text"><%= current_user.email %></p>
        </div>
        <div class="header-menu-contents-card-button-area">
          <%= link_to "確認", current_user, class: "header-menu-contents-card-button" %>
          <%= link_to "編集", edit_user_path(current_user), class: "header-menu-contents-card-button" %>
          <div class="header-menu-contents-card-button">
            <%= button_to "ログアウト", logout_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

